<style>

.container{
    width: 100vw;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(44, 44, 99);
    
}

.box{
    width: 25%;
    display: flex;    
    text-align: center;
    color: #fff;
}

footer {
    position: fixed;
    bottom: 0;
}

</style>

<footer>
    <div class="container">

        <div class="box">
            <h3>PHP: CRUD - MVC</h3>
        </div>

        <div class="box">
            <p>Realizando o CRUD no padrão MVC com a linguagem PHP usando POO e URL's amigáveis.</p>
        </div>
    </div>
</footer>